-- MySQL dump 10.13  Distrib 8.0.40, for Win64 (x86_64)
--
-- Host: localhost    Database: auctiondb2
-- ------------------------------------------------------
-- Server version	8.0.40

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auction_case`
--

DROP TABLE IF EXISTS `auction_case`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auction_case` (
  `case_number` varchar(100) NOT NULL,
  `case_name` varchar(255) DEFAULT NULL,
  `court_name` varchar(255) DEFAULT NULL,
  `filing_date` date DEFAULT NULL,
  `responsible_dept` varchar(255) DEFAULT NULL,
  `claim_amount` varchar(255) DEFAULT NULL,
  `appeal_status` tinyint(1) DEFAULT NULL,
  `minimum_bid_price` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`case_number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auction_case`
--

LOCK TABLES `auction_case` WRITE;
/*!40000 ALTER TABLE `auction_case` DISABLE KEYS */;
INSERT INTO `auction_case` VALUES ('2022?寃?828','遺?숈궛媛뺤젣寃쎈ℓ','?쒖슱?숇?吏諛⑸쾿??,'2022-09-14','寃쎈ℓ2怨?,'250,000,000',0,'367,360,000'),('2022?寃?3920','遺?숈궛媛뺤젣寃쎈ℓ','?쒖슱?쒕?吏諛⑸쾿??,'2022-07-15','寃쎈ℓ1怨?,'23,225,903',0,'5,494,000'),('2023?寃?460','遺?숈궛媛뺤젣寃쎈ℓ','?쒖슱以묒븰吏諛⑸쾿??,'2023-07-12','寃쎈ℓ1怨?,'280,000,000',0,'27,659,000'),('2023?寃?107','遺?숈궛媛뺤젣寃쎈ℓ','?쒖슱以묒븰吏諛⑸쾿??,'2023-10-19','寃쎈ℓ2怨?,'14,452,188',0,'8,406,000');
/*!40000 ALTER TABLE `auction_case` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auction_item`
--

DROP TABLE IF EXISTS `auction_item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auction_item` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `item_number` int NOT NULL,
  `item_spec_url` varchar(1000) DEFAULT NULL,
  `item_purpose` varchar(255) DEFAULT NULL,
  `valuation_amount` varchar(255) DEFAULT NULL,
  `item_note` varchar(255) DEFAULT NULL,
  `item_status` varchar(255) DEFAULT NULL,
  `auction_date` datetime(6) DEFAULT NULL,
  `auction_failures` int DEFAULT NULL,
  `item_image_url` varchar(200) DEFAULT NULL,
  `auction_date_1` datetime(6) DEFAULT NULL,
  `decision_date_1` datetime(6) DEFAULT NULL,
  `auction_date_2` datetime(6) DEFAULT NULL,
  `decision_date_2` datetime(6) DEFAULT NULL,
  `auction_date_3` datetime(6) DEFAULT NULL,
  `decision_date_3` datetime(6) DEFAULT NULL,
  `auction_date_4` datetime(6) DEFAULT NULL,
  `decision_date_4` datetime(6) DEFAULT NULL,
  `case_number` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auction_item_item_number_case_number_1c64f79c_uniq` (`item_number`,`case_number`),
  KEY `auction_item_case_number_045353d6_fk_auction_case_case_number` (`case_number`),
  CONSTRAINT `auction_item_case_number_045353d6_fk_auction_case_case_number` FOREIGN KEY (`case_number`) REFERENCES `auction_case` (`case_number`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auction_item`
--

LOCK TABLES `auction_item` WRITE;
/*!40000 ALTER TABLE `auction_item` DISABLE KEYS */;
/*!40000 ALTER TABLE `auction_item` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-05-25 17:36:09
