{% extends 'main/layout/sidebar_layout.html' %}

{% load static %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/pages/bid_history.css' %}">
{% endblock %}

{% block sidebar_menu %}
<li class="active"><a href="#">나의입찰내역</a></li>
<li><a href="#">관심목록</a></li>
<li><a href="{% url 'auto_bid' %}">자동입찰설정</a></li>
<li><a href="{% url 'mypage' %}">마이페이지</a></li>
{% endblock %}

{% block sidebar_content %}
<h2>나의 입찰내역</h2>
<br>
<hr style="width: 1000px;">

<!-- 탭 메뉴 -->
<div class="auto-bid-tabs">
  <div class="tab-menu">
    <div class="tab-item active" onclick="showTab('search')">입찰내역</div>
    <div class="tab-item" onclick="showTab('favorites')">자동입찰예약내역</div>
  </div>
</div>


<div class="refund-container">
  <div class="refund-box">
    <div class="refund-row header">
      <span>사건번호</span>
      <span>입찰금액</span>
      <span>보증금</span>
      <span>보증금반환상태</span>
      <span>반환일자</span>
    </div>
    <!-- 예시 데이터 -->
    <div class="refund-row">
      <span>2024타경12345</span>
      <span>510,000,000원</span>
      <span>51,000,000원</span>
      <span class="status pending">처리중</span>
      <span>-</span>
    </div>
    <div class="refund-row">
      <span>2024타경67890</span>
      <span>620,000,000원</span>
      <span>62,000,000원</span>
      <span class="status done">완료</span>
      <span>2025-04-18</span>
    </div>
  </div>
</div>
{% endblock %}
